# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
dist
dist-ssr
build
.vercel

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor/OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project Specific
future_interations.md
SKILL.md
frontend/stats.html
relatorio-lighthouse.html
future_interations.md
frontend/lighthouse-report.json
frontend/lighthouse-production.json
frontend/lh_sum.txt
frontend/lh_sum_prod.txt
